body {
    background-image: linear-gradient(to right,#ee0979,#ff6a00);
}

#Anketa {
    font-family: 'Lobster Two', cursive;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container {
    text-align: center;
}

.listaOdgovora {
    text-align: left;
}

.homepageTitle {
    margin-bottom: 10%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

#voteButton {
    font-family: 'Lobster Two', cursive;
    cursor: pointer;
    outline:thin;
}
